---

import Footer from '../../components/Footer.astro'
---

<h1>when someone enter in post it show this file</h1>

<ul>
    <li>
        <a href="/posts/primer_post">Mi primer post</a>
    </li>
    <li>
        <a href="/posts/segundo_post">Mi segundo post</a>
    </li>
</ul>

<Footer title=" Footer en Posts" />